* {
  margin: 0;
  padding: 0;
}

/* start of index.html : landing page */

.index {
  /* Location of the image on your local machine */
  background: url(./img/sky.jpg) no-repeat center center fixed;
  /* this is what makes the background image rescale based on the container's size */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
  }

.header {
  display: grid;
  justify-content: center;
  margin-top: 5%;
  animation: fadeIn;
  animation-duration: 8s;
}

h1 {
  display: grid;
  font-family: "comforter";
  font-size: 7vh;
  color: rgb(33, 0, 39);
  background-color: rgba(184, 169, 187, 0.5);
  border-bottom: solid 3px black;
  border-right: solid 3px black;
  text-align: center;
  border-radius: 20px;
  padding: 0;
  margin: 0 20% 0 20%;
}

.text {
  font-style: arial;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 1% 20% 0 20%;
  display: flex;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 1% 1% 1% 1%;
}

.start {
  display: flex;
  margin-top: 2%;
  justify-content: center;
}

a button {
  cursor: pointer;
  font-size: 3vh;
  font-family: "times new roman";
  padding: 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40%;
  animation: fadeIn 8s;
}

button:hover {
  background-color: rgba(184, 169, 187, 0.5);
  color: rgba(33, 0, 39);
}

/* start of the home.html */
/* background image */
.home {
  background-image: url(./img/vacay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
}

.zone {
    margin-top: 3%;
    font-size: 2em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.link {
  justify-content: center;
  color: white;
  text-decoration: none;
  margin: 1.5vh;
  border: solid 1px;
  padding: 0.5rem;
  background-color: grey;
}

.link:hover {
  color: grey;
  background-color: white;
  -o-transition: 1s;
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
  box-shadow: inset 0px 100px 0px 0px white;
}

.container1 {
  margin-top: 9%;
  display: block;
}

h2 {
  display: inline-block;
  justify-content: center;
  margin: 15% 0 0 0;
  color: white;
  border: 1px solid white;
}

.headshot {
  margin: 0 5% 0 0;
  width: 10rem;
  border-radius: 50%;
  float: left;
}

p {
  color: white;
  width: 65%;
  margin: auto;
  padding-top: 5%;
}
